.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.header {
  display: flex;
  align-items: center;
  &__logo {
    width: 55px;
    height: 55px;
    // padding-right: 2px;
  }
  &__text {
    font-size: 2.5rem;
    font-family: dcapLogo;
    font-weight: 500;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }
}

@font-face {
  font-family: dcapLogo;
  src: url(../../public/assets/fonts/SFViperSquadronSolid.ttf);
}
