.drops {
  margin: 0 auto;
  max-width: 730px;
  display: flex;
  align-items: center;
  //   max-width: 100%;
  justify-content: space-between;
  //   gap: 2rem;

  position: relative;
  z-index: 1;
  max-width: 730px;
  margin-top: 25px;
  margin-bottom: 50px;

  & h1 {
    margin-bottom: 0;
  }
}

.heading {
  margin: 15rem 0 7rem;
  text-align: center;

  &__products {
    margin: 15rem auto 0;
    max-width: 73rem;
    text-align: left;
  }
}

.product {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  // gap: 1.5rem;
}

@media only screen and (max-width: 992px) {
  .product {
    flex-direction: column;
    gap: 5rem;
  }
}
